[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sperarafa
[access "refs/for/refs/*"]
	read = group user/sperarafa
	push = group user/sperarafa
	label-Code-Review = -2..+2 group user/sperarafa
	label-Verified = -1..+1 group user/sperarafa
	rebase = group user/sperarafa
	removeReviewer = group user/sperarafa
	submit = group user/sperarafa
[access "refs/heads/*"]
	read = group user/sperarafa
	create = group user/sperarafa
	push = +force group user/sperarafa
	pushMerge = group user/sperarafa
[access "refs/tags/*"]
	push = +force group user/sperarafa
	pushTag = group user/sperarafa
	pushSignedTag = group user/sperarafa
